body {
    background-color:#353535;
    color: white;
    text-align: center;
}

p {
    font-size: 20px;
}

.cartabon {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 15%;
    padding-right: 15%;

}