body {
    background-color:#353535;
    color: white;
    text-align: center;
}

p {
    font-size: 20px;
    text-decoration: none;
}

.cartabon {
    padding-top: 0.2%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.logo {
    width: 250px;
    height: 250px;
    margin-bottom: -2%;
    margin-top: -0.5%;
}